body
{
    background: linear-gradient(to top,navy,black);
}
.heading
{
    color:white;
    text-align: center;
    font-size: 70px;
}

.date1,.date2,.date3,.date4
{
    color: white;
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    font-size: 30px;
}
.searchbox
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search
{
    width: 100px;
    margin: 2%;
    padding: 10px 0px;
    font-size: 20px;
}
.city
{
    width: 400px;
    font-size: 20px;
    line-height: 25px;
}

.api
{
    width: 50%;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 40px;
}
.row
{
    display: flex;
    flex-direction: column;
}
.col
{
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.box1,.box2
{
    background:linear-gradient(to top,aqua,turquoise);
    width:33%;
    margin: auto;
    min-height: 500px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
    align-items: center;
}
